header{
	background-color:grey;
	padding: 5px;
}
h1{
	font-family: 'Roboto', sans-serif;
	text-align: center;
  	font-size: 80px;
  	padding: 90px;
  	color: white;
}

h2{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 40px;
	text-transform: uppercase;
}
h3,h4{
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;

}
p{
	font-family: 'Montserrat', sans-serif;
	text-align: justify-all;
}
.contener{
	display: inline-flex;
	justify-content: space-around;
}
.graph{
	padding: 70px;
}
#Entreprise{
	background:url('../img/cp.jpg') no-repeat;
	background-size: cover;
	height: 700px;
	margin: 80px;
}
ul li a {
	text-decoration: none;

}

li a ul {
	list-style: none;
}
ul{
	list-style:none;
}
li{
	font-family: 'Roboto', sans-serif;
}
body{
	background:lightgrey;
	margin:0;
}


.pic{
	width: 60px;
	height: 60px;
}
.picture{
	margin: 20px;
	border-radius: 5px;

}
.content{
	float: left;
}
.bloc{
	display: inline-flex;
	justify-content: space-between;
	
}
.line{
	padding:80px; 
}


.heden{
	display: flex;
	justify-content: space-around;
}

table, td, th {
    border: 2px solid black;
  }

  table {
    width:80%;
    border-collapse:collapse;
    margin: auto;
    padding:auto;
  }
  input[type="text"]{
      border:transparent;
      border-collapse:separate;
  }

.map{
	text-align: center;
	padding: 40px;
}

.agenda{
	margin: auto;
	padding: auto;
	display: flex;
}
.hello{
	display: flex;
	justify-content: space-around;
}
.picto{
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

input[type="text"],
input[type="email"],
textarea {
  width:150%;
  padding: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.btn {
	background-color:grey;
	border-radius: 1em;
  	padding: 15px;
  	cursor:pointer;
	float:right;
	margin-bottom:8px;

}
.join{
	background-color: lightgrey;
}
footer{
	background-color: black;
	height:100px;
	display: flex;
  	font-weight: 400;
  	color:white;

}
.foot{
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding:30px;
}
